<%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Detect.js/2.2.2/detect.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.7/jquery.slimscroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/peity/3.2.0/jquery.peity.min.js"></script>

<!-- jQuery  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/3.1.0/jquery.waypoints.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>

<script type="application/javascript">
    //portlets
    !function($) {
        "use strict";

        /**
         Portlet Widget
         */
        var Portlet = function() {
            this.$body = $("body"),
                this.$portletIdentifier = ".portlet",
                this.$portletCloser = '.portlet a[data-toggle="remove"]',
                this.$portletRefresher = '.portlet a[data-toggle="reload"]'
        };

        //on init
        Portlet.prototype.init = function() {
            // Panel closest
            var $this = this;
            $(document).on("click",this.$portletCloser, function (ev) {
                ev.preventDefault();
                var $portlet = $(this).closest($this.$portletIdentifier);
                var $portlet_parent = $portlet.parent();
                $portlet.remove();
                if ($portlet_parent.children().length == 0) {
                    $portlet_parent.remove();
                }
            });

            // Panel Reload
            $(document).on("click",this.$portletRefresher, function (ev) {
                ev.preventDefault();
                var $portlet = $(this).closest($this.$portletIdentifier);
                // This is just a simulation, nothing is going to be reloaded
                $portlet.append('<div class="panel-disabled"><div class="loader-1"></div></div>');
                var $pd = $portlet.find('.panel-disabled');
                setTimeout(function () {
                    $pd.fadeOut('fast', function () {
                        $pd.remove();
                    });
                }, 500 + 300 * (Math.random() * 5));
            });
        },
            //
            $.Portlet = new Portlet, $.Portlet.Constructor = Portlet

    }(window.jQuery),

        /**
         * Notifications
         */
        function($) {
            "use strict";

            var Notification = function() {};

            //simple notificaiton
            Notification.prototype.notify = function(style,position, title, text) {
                var icon = 'fa fa-adjust';
                if(style == "error"){
                    icon = "fa fa-exclamation";
                }else if(style == "warning"){
                    icon = "fa fa-warning";
                }else if(style == "success"){
                    icon = "fa fa-check";
                }else if(style == "custom"){
                    icon = "md md-album";
                }else if(style == "info"){
                    icon = "fa fa-question";
                }else{
                    icon = "fa fa-adjust";
                }
                $.notify({
                    title: title,
                    text: text,
                    image: "<i class='"+icon+"'></i>"
                }, {
                    style: 'metro',
                    className: style,
                    globalPosition:position,
                    showAnimation: "show",
                    showDuration: 0,
                    hideDuration: 0,
                    autoHide: true,
                    clickToHide: true
                });
            },

                //auto hide notification
                Notification.prototype.autoHideNotify = function (style,position, title, text) {
                    var icon = "fa fa-adjust";
                    if(style == "error"){
                        icon = "fa fa-exclamation";
                    }else if(style == "warning"){
                        icon = "fa fa-warning";
                    }else if(style == "success"){
                        icon = "fa fa-check";
                    }else if(style == "custom"){
                        icon = "md md-album";
                    }else if(style == "info"){
                        icon = "fa fa-question";
                    }else{
                        icon = "fa fa-adjust";
                    }
                    $.notify({
                        title: title,
                        text: text,
                        image: "<i class='"+icon+"'></i>"
                    }, {
                        style: 'metro',
                        className: style,
                        globalPosition:position,
                        showAnimation: "show",
                        showDuration: 0,
                        hideDuration: 0,
                        autoHideDelay: 5000,
                        autoHide: true,
                        clickToHide: true
                    });
                },
                //confirmation notification
                Notification.prototype.confirm = function(style,position, title) {
                    var icon = "fa fa-adjust";
                    if(style == "error"){
                        icon = "fa fa-exclamation";
                    }else if(style == "warning"){
                        icon = "fa fa-warning";
                    }else if(style == "success"){
                        icon = "fa fa-check";
                    }else if(style == "custom"){
                        icon = "md md-album";
                    }else if(style == "info"){
                        icon = "fa fa-question";
                    }else{
                        icon = "fa fa-adjust";
                    }
                    $.notify({
                        title: title,
                        text: 'Are you sure you want to do nothing?<div class="clearfix"></div><br><a class="btn btn-sm btn-white yes">Yes</a> <a class="btn btn-sm btn-danger no">No</a>',
                        image: "<i class='"+icon+"'></i>"
                    }, {
                        style: 'metro',
                        className: style,
                        globalPosition:position,
                        showAnimation: "show",
                        showDuration: 0,
                        hideDuration: 0,
                        autoHide: false,
                        clickToHide: false
                    });
                    //listen for click events from this style
                    $(document).on('click', '.notifyjs-metro-base .no', function() {
                        //programmatically trigger propogating hide event
                        $(this).trigger('notify-hide');
                    });
                    $(document).on('click', '.notifyjs-metro-base .yes', function() {
                        //show button text
                        alert($(this).text() + " clicked!");
                        //hide notification
                        $(this).trigger('notify-hide');
                    });
                },
                //init - examples
                Notification.prototype.init = function() {

                },
                //init
                $.Notification = new Notification, $.Notification.Constructor = Notification
        }(window.jQuery),

        /**
         * Components
         */
        function($) {
            "use strict";

            var Components = function() {};

            //initializing tooltip
            Components.prototype.initTooltipPlugin = function() {
                $.fn.tooltip && $('[data-toggle="tooltip"]').tooltip()
            },

                //initializing popover
                Components.prototype.initPopoverPlugin = function() {
                    $.fn.popover && $('[data-toggle="popover"]').popover()
                },

                //initializing custom modal
                Components.prototype.initCustomModalPlugin = function() {
                    $('[data-plugin="custommodal"]').on('click', function(e) {
                        Custombox.open({
                            target: $(this).attr("href"),
                            effect: $(this).attr("data-animation"),
                            overlaySpeed: $(this).attr("data-overlaySpeed"),
                            overlayColor: $(this).attr("data-overlayColor")
                        });
                        e.preventDefault();
                    });
                },

                //initializing nicescroll
                Components.prototype.initNiceScrollPlugin = function() {
                    //You can change the color of scroll bar here
                    $.fn.niceScroll &&  $(".nicescroll").niceScroll({ cursorcolor: '#98a6ad',cursorwidth:'6px', cursorborderradius: '5px'});
                },

                //range slider
                Components.prototype.initRangeSlider = function() {
                    $.fn.slider && $('[data-plugin="range-slider"]').slider({});
                },

              /* -------------
               * Form related controls
               */
                //switch
                Components.prototype.initSwitchery = function() {
                    $('[data-plugin="switchery"]').each(function (idx, obj) {
                        new Switchery($(this)[0], $(this).data());
                    });
                },
                //multiselect
                Components.prototype.initMultiSelect = function() {
                    if($('[data-plugin="multiselect"]').length > 0)
                        $('[data-plugin="multiselect"]').multiSelect($(this).data());
                },

              /* -------------
               * small charts related widgets
               */
                //peity charts
                Components.prototype.initPeityCharts = function() {
                    $('[data-plugin="peity-pie"]').each(function(idx, obj) {
                        var colors = $(this).attr('data-colors')?$(this).attr('data-colors').split(","):[];
                        var width = $(this).attr('data-width')?$(this).attr('data-width'):20; //default is 20
                        var height = $(this).attr('data-height')?$(this).attr('data-height'):20; //default is 20
                        $(this).peity("pie", {
                            fill: colors,
                            width: width,
                            height: height
                        });
                    });
                    //donut
                    $('[data-plugin="peity-donut"]').each(function(idx, obj) {
                        var colors = $(this).attr('data-colors')?$(this).attr('data-colors').split(","):[];
                        var width = $(this).attr('data-width')?$(this).attr('data-width'):20; //default is 20
                        var height = $(this).attr('data-height')?$(this).attr('data-height'):20; //default is 20
                        $(this).peity("donut", {
                            fill: colors,
                            width: width,
                            height: height
                        });
                    });

                    $('[data-plugin="peity-donut-alt"]').each(function(idx, obj) {
                        $(this).peity("donut");
                    });

                    // line
                    $('[data-plugin="peity-line"]').each(function(idx, obj) {
                        $(this).peity("line", $(this).data());
                    });

                    // bar
                    $('[data-plugin="peity-bar"]').each(function(idx, obj) {
                        var colors = $(this).attr('data-colors')?$(this).attr('data-colors').split(","):[];
                        var width = $(this).attr('data-width')?$(this).attr('data-width'):20; //default is 20
                        var height = $(this).attr('data-height')?$(this).attr('data-height'):20; //default is 20
                        $(this).peity("bar", {
                            fill: colors,
                            width: width,
                            height: height
                        });
                    });
                },



                //initilizing
                Components.prototype.init = function() {
                    var $this = this;
                    this.initTooltipPlugin(),
                        this.initPopoverPlugin(),
                        this.initNiceScrollPlugin(),
                        this.initCustomModalPlugin(),
                        this.initRangeSlider(),
                        this.initSwitchery(),
                        this.initMultiSelect(),
                        this.initPeityCharts(),
                        //creating portles
                        $.Portlet.init();
                },

                $.Components = new Components, $.Components.Constructor = Components

        }(window.jQuery),
        //initializing main application module
        function($) {
            "use strict";
            $.Components.init();
        }(window.jQuery);
</script>
<script type="application/javascript">!function($) {
    "use strict";

    var Dashboard1 = function() {
        this.$realData = []
    };

    //creates Stacked chart
    Dashboard1.prototype.createStackedChart  = function(element, data, xkey, ykeys, labels, lineColors) {
        Morris.Bar({
            element: element,
            data: data,
            xkey: xkey,
            ykeys: ykeys,
            stacked: true,
            labels: labels,
            hideHover: 'auto',
            resize: true, //defaulted to true
            gridLineColor: '#eeeeee',
            barColors: lineColors
        });
    },

        //creates area chart with dotted
        Dashboard1.prototype.createAreaChartDotted = function(element, pointSize, lineWidth, data, xkey, ykeys, labels, Pfillcolor, Pstockcolor, lineColors) {
            Morris.Area({
                element: element,
                pointSize: 0,
                lineWidth: 0,
                data: data,
                xkey: xkey,
                ykeys: ykeys,
                labels: labels,
                hideHover: 'auto',
                pointFillColors: Pfillcolor,
                pointStrokeColors: Pstockcolor,
                resize: true,
                gridLineColor: '#eef0f2',
                lineColors: lineColors
            });

        },


        Dashboard1.prototype.init = function() {

            //creating Stacked chart
            var $stckedData  = [
                { y: '2005', a: 45, b: 180, c: 100 },
                { y: '2006', a: 75,  b: 65, c: 80 },
                { y: '2007', a: 100, b: 90, c: 56 },
                { y: '2008', a: 75,  b: 65, c: 89 },
                { y: '2009', a: 100, b: 90, c: 120 },
                { y: '2010', a: 75,  b: 65, c: 110 },
                { y: '2011', a: 50,  b: 40, c: 85 },
                { y: '2012', a: 75,  b: 65, c: 52 },
                { y: '2013', a: 50,  b: 40, c: 77 },
                { y: '2014', a: 75,  b: 65, c: 90 },
                { y: '2015', a: 100, b: 90, c: 130 }
            ];
            this.createStackedChart('morris-bar-stacked', $stckedData, 'y', ['a', 'b', 'c'], ['Desktops', 'Tablets', 'Mobiles'], ['#5fbeaa', '#5d9cec', '#ebeff2']);

            //creating area chart
            var $areaDotData = [
                { y: '2009', a: 10, b: 20, c:30 },
                { y: '2010', a: 75,  b: 65, c:30 },
                { y: '2011', a: 50,  b: 40, c:30 },
                { y: '2012', a: 75,  b: 65, c:30 },
                { y: '2013', a: 50,  b: 40, c:30 },
                { y: '2014', a: 75,  b: 65, c:30 },
                { y: '2015', a: 90, b: 60, c:30 }
            ];
            this.createAreaChartDotted('morris-area-with-dotted', 0, 0, $areaDotData, 'y', ['a', 'b', 'c'], ['Desktops ', 'Tablets ', 'Mobiles '],['#ffffff'],['#999999'], ['#5fbeaa', '#5d9cec','#ebeff2']);

        },
        //init
        $.Dashboard1 = new Dashboard1, $.Dashboard1.Constructor = Dashboard1
}(window.jQuery),

//initializing
    function($) {
        "use strict";
        $.Dashboard1.init();
    }(window.jQuery);</script>
<script type="application/javascript">
    (function($){

        'use strict';

        function initNavbar () {

            $('.navbar-toggle').on('click', function(event) {
                $(this).toggleClass('open');
                $('#navigation').slideToggle(400);
                $('.cart, .search').removeClass('open');
            });

            $('.navigation-menu>li').slice(-1).addClass('last-elements');

            $('.navigation-menu li.has-submenu a[href="#"]').on('click', function(e) {
                if ($(window).width() < 992) {
                    e.preventDefault();
                    $(this).parent('li').toggleClass('open').find('.submenu:first').toggleClass('open');
                }
            });
        }

        function init () {
            initNavbar();
        }

        init();

    })(jQuery)


</script>

<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $('.counter').counterUp({
      delay: 100,
      time: 1200
    });

    $(".knob").knob();

  });
</script>
